table {
  width: 850px;
}

tr:nth-of-type(odd) {
  background-color: gray;
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: lightgray;
  text-align: center;
}

h3 {
  display: inline-block;
}